/*rgb(117,50,249);*/
/*box-shadow: 1px 1px 1px 1px rgb(0,0,0,20%);*/

#Brand
{
  color: black; 
  text-decoration: none;
  font-size: large;
    background: rgb(117,50,249);
    text-align: left;
    padding: 9px;  
    text-align: center;
    background: black;
    border-bottom: 1px solid goldenrod;
  
}





#Navbar
{
  /*background: rgb(117,50,249);*/
    background: black;
  text-align: left;
    font-size: large;
    z-index: 1;
    padding: 12px;  
     border-bottom: 1px solid goldenrod;
   
}

#Navbar > a
{
  color: rgb(117,50,249); 
  text-decoration: none;
  font-size: large;
  padding: 12px;   
    
}

#Navbar > a:hover { 
/*  background-color: springgreen;
  color: black !important;*/
    background-color: black;
    color: darkgoldenrod;
    /*box-shadow: 1px 1px 1px 1px rgb(0,0,0,20%);*/
}

#Sidebar
{
  background: rgb(0,0,0,1%);;
  color: black;/*rgb(117,50,249);*/
    padding-top: 100px;
  text-align: center;
    box-shadow: 1px 1px 1px 1px rgb(0,0,0,4%);
}

#Body {
  background-color: rgb(0,0,0,1%);
  padding: 10px;
  text-align: center;
  position:relative;
  z-index:-1;
  padding: 35px;
  font-family: roman;
}

#Github {
  background: rgb(0,0,0,1%);
  color: mediumspringgreen;
  text-align: center; 
      padding: 30px;
    box-shadow: -1px 1px 1px 1px rgb(0,0,0,4%);
}


#githubIcon{
    color: rgb(117,50,249);
/*    color: black;
    background: white;*/
    background-clip: content-box;
    font-size: 24px;
    padding: 5px
}
#githubIcon:hover {
    color: whitesmoke;
    
}

#linkedinIcon{
    
    color: rgb(117,50,249);
/*    color: rgb(10,102,194);
    background: white;*/
    background-clip: content-box;
    font-size: 24px;
    padding: 5px
}

#linkedinIcon:hover {
    color: whitesmoke;;   
}

#stackIcon{
    color: rgb(117,50,249);
    /*color: orangered;
    background: white;*/
    font-size: 24px;
    padding: 5px
}
#stackIcon:hover {
    color: whitesmoke;
    
}

.purple{
     color: rgb(117,50,249);
    text-decoration: none;
    background-blend-mode: hard-light;
    
}



#Welcome{
 color: rgb(117,50,249);
    border-bottom: 1px solid black;
    
/* box-shadow: 5px 3px 4px 1px rgb(0,0,0,20%);*/
}
.CodeBox{

  color: rgb(0,0,0);
  text-align: left;
    font-size: 15px;
    padding: 8px;
    font-family:'Lucida Console',monospace;
    word-wrap: break-word;

}

.display-1
{
    
}


.seperator
{
    width: 10px;
    height: 10px
}

#Foot
{
  background: black;
  padding: 30px;
  text-align: center;
}
.container
{
  padding: 0px;
}
.head {
    background-color: rgb(117,50,249);
    text-align: center;
        padding:20px;
    border-bottom: 1px solid black;   
    color: white;   
}

#HEAD{
  position: sticky;
  top: 0;

}

