/*rgb(117,50,249);*/
/*box-shadow: 1px 1px 1px 1px rgb(0,0,0,20%);*/

#Brand
{
  text-decoration: none;
  font-size: large;
    text-align: left;
    padding: 9px;  
    text-align: center;
    background-color: black;
    border-bottom: 2px solid rgb(117,50,249);; 
}

#Navbar
{ 
    text-decoration: none;
    background-color: black;
    font-size: large;
    text-align: left;
    padding: 9px;  
    text-align: center;
     border-bottom: 3px solid rgb(117,50,249);; 
}

#Navbar > a
{
  
    color: darkgoldenrod;
  text-decoration: none;
  font-size: large;
  padding: 12px;   
    
}

#Navbar > a:hover { 
/*  background-color: springgreen;
  color: black !important;*/
    color: goldenrod;
    /*box-shadow: 1px 1px 1px 1px rgb(0,0,0,20%);*/
}

#Sidebar
{
  background: rgb(0,0,0,1%);;
  color: black;/*rgb(117,50,249);*/
    padding-top: 100px;
  text-align: center;
    box-shadow: 1px 1px 1px 1px rgb(0,0,0,4%);
}

#Body {
  background-color: rgb(0,0,0,1%);
  padding: 10px;
    
  text-align: center;
  position:relative;
  z-index:-1;
  padding: 35px;
  font-family: roman;
}

#Github {
  background: rgb(0,0,0,1%);
  color: mediumspringgreen;
  text-align: center; 
      padding: 30px;
    box-shadow: -1px 1px 1px 1px rgb(0,0,0,4%);
}


#githubIcon{
     color: darkgoldenrod;
/*    color: black;
    background: white;*/
    background-clip: content-box;
    font-size: 21px;
    padding: 5px
}
#githubIcon:hover {
    color: goldenrod;
    
}
#linkedinIcon{
    
    color: darkgoldenrod;
/*    color: rgb(10,102,194);
    background: white;*/
    background-clip: content-box;
    font-size: 21px;
    padding: 5px
}
#linkedinIcon:hover {
    color: goldenrod;;   
}
#stackIcon{
    color: darkgoldenrod;
    /*color: orangered;
    background: white;*/
    font-size: 21px;
    padding: 5px
}
#stackIcon:hover {
    color: goldenrod;
    
}

.purple{
     color: rgb(117,50,249);
    text-decoration: none;
    background-blend-mode: hard-light;
    
}


#Welcome{
 color: rgb(117,50,249);
    
    
/* box-shadow: 5px 3px 4px 1px rgb(0,0,0,20%);*/
}


#Foot
{
  background: black;
  padding: 30px;
  text-align: center;
}
.container
{
  padding: 0px;
}
.head {
    background-color: rgb(117,50,249);
    text-align: center;
        padding:20px;
    border-bottom: 1px solid black;   
    color: white;   
}

#HEAD{
  position: sticky;
  top: 0;

}



code{
    color: darkviolet;
}

#box{
    border-left: 4px solid rgb(117,50,249,100%);
    border-right: 4px solid rgb(117,50,249,100%);
    background-image: repeating-linear-gradient(rgb(0,0,0,10%),rgb(0,0,0,5%),rgb(0,0,0,1%));
    padding: 10px
}
